---
import Layout from "../components/Layout.astro";


---

<Layout title="Posts - Nwekoder">
    <div>
        <p>Work in Progress :v</p>
    </div>
</Layout>

<style scoped>
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
</style>